<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js">
		</script>
		
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <title>Angular 102 HW1</title>

	    <!-- Bootstrap -->
	    <link href="css/bootstrap.min.css" rel="stylesheet">

		<script src="index.js">
		</script>
		<style type="text/css">
			.only {
				background: blue;
				color: orange;
			}

			.nome {

			}
		</style>
	</head>

	<body ng-app="homeWorkOne">
		<div ng-controller="mainController as ctrl" class="container">
			<h1 ng-bind="ctrl.message"></h1>

			<!-- radio buttons for selecting theme -->
			<div class="row">
				<div ng-bind="themeButtons" class="col-md-12"></div>
				<label class="radio-inline">
					<input 
						type="radio"
						name="radioButtons"
						ng-model="ctrl.themeSelection"
						ng-value="ctrl.themeSelect.one.name" />{{ ctrl.themeSelect.one.name }}
				</label>
				<label class="radio-inline">
					<input 
						type="radio"
						name="radioButtons"
						ng-model="ctrl.themeSelection"
						ng-value="ctrl.themeSelect.two.name" />{{ ctrl.themeSelect.two.name }}
				</label>
				<label class="radio-inline">
					<input 
						type="radio"
						name="radioButtons"
						ng-model="ctrl.themeSelection"
						ng-value="ctrl.themeSelect.three.name" />{{ ctrl.themeSelect.three.name }}
				</label>
				<label class="radio-inline">
					<input 
						type="radio"
						name="radioButtons"
						ng-model="ctrl.themeSelection"
						ng-value="ctrl.themeSelect.four.name" />{{ ctrl.themeSelect.four.name }}
				</label>
			</div>

			<!-- content boxes -->
			<div class="row">
  				<div class="col-md-6" ng-class="{only: ctrl.themeSelection, none: ctrl.themeSelection}">
  					<h4 ng-bind="ctrl.themeSelection"></h4>
  					<p>
  						.col-md-6
  					</p>
  				</div>
  				<div class="col-md-6">.col-md-6</div>
			</div>
		</div>
	</body>
</html>