<!DOCTYPE html>
<html lang="en">
	<header>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js">
		</script>
		<script type="text/javascript"
		        src="index.js">
		</script>

		<link rel="stylesheet" 
			  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
			  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<link rel="stylesheet"
		      type="text/css"
			  href="style.css">
	</header>
	<body ng-app="simonApp">
		<div ng-controller="mainController as ctrl"
		     class="container">

		   	<div>
				<h1 ng-bind="ctrl.welcome"></h1>

				<button ng-click="ctrl.simon.says();
								  ctrl.buttonEffect(ctrl.simon.palletIndex)">Simon Says</button><br>
				Simon: {{ ctrl.simon.allChoices }}<br>
				Player: {{ ctrl.player.allChoices }}<br>
				Result: {{ ctrl.result }}
			</div>

			<div id="simon-board">
				<div ng-repeat="color in ctrl.simon.pallet">
					<div class="button {{ ctrl.button[$index] }}"
						 ng-class="color"
						 ng-model="ctrl.button[$index]"
					     ng-click="ctrl.buttonEffect($index); 
					        	   ctrl.player.select(color)">
					</div>
				</div>
			</div>
			{{ ctrl.simon.pallet[ctrl.buttonIndex] }}

			<div class="summary">
				<h3>Game Options</h3>
				<button ng-click="ctrl.compareColors()">check arrays</button>
			</div>

		</div>
	</body>
<html>