#simon-board {
	width:48%; 
	margin:4px; 
	border-radius: 135px;
	border:1px solid grey;
	background: black;
	float: left;
}

.button {
	width:45%; 
	height:200px; 
	margin:11px; 
	border:1px solid grey;
	background: pink;
	float: left;
}

.red {
	background: red;
	border-radius: 75% 5% 5% 2%;
}

.blue {
	background: blue;
	border-radius: 2% 75% 5% 5%;
}

.yellow {
	background: yellow;
	border-radius: 5% 2% 5% 75%;
}

.green {
	background: green;
	border-radius: 2% 5% 75% 5%;
}
