<html>
	<header>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js">
		</script>
		<script type="text/javascript" src="index.js"></script>
	</header>
	<body ng-app="playListApp">
		<div ng-controller="mainController as ctrl">
			<h1 ng-bind="ctrl.welcome"></h1>

			<div>
				<h3>Listener Info</h3>
				<form>
					<div>
						<label>name: </label><br>
						<input type="text"
							   ng-model="ctrl.user.name">
					</div>
					<div>
						<label>age: </label><br>
						<input type="number"
						       ng-model="ctrl.user.age">
					</div>
					<div>
						<input type="submit"
							   value="Who Dat?"
							   ng-click="ctrl.user.addUser(ctrl.user.name, ctrl.user.age)">
					</div>
				</form>
			</div>

			<div>
				<h3>Explicit Lyrics?</h3>
				<form>
					<div>
						<label>Explicit Lyrics</label>
						<input type="radio" 
							   name="explicitSelect"
							   value="explicit"
							   ng-model="ctrl.lyricType">
					</div>
					<div>
						<label>Safe Lyrics</label>
						<input type="radio" 
						 	   name="explicitSelect"
						 	   value="safe"
						 	   ng-model="ctrl.lyricType"
						 	   ng-change="ctrl.music.removeExplicit()">
					</div>
				</form>
			</div>

			<div>
				<h3>Genre Selection</h3>
				<form>
					<div ng-repeat="genre in ctrl.genreList">
						<label ng-bind="genre"></label>
						<input type="radio"
							   name="genreSelect"
							   ng-value="$index"
							   ng-model="ctrl.genreListIndex">
					</div>
				</form>
			</div>

			<h3>Genre Selected: {{ ctrl.genreList[ctrl.genreListIndex] }}</h3>
			<div ng-repeat="song in ctrl.music.masterList[ctrl.genreListIndex].songs">
				<label ng-bind="song.title" 
				       ng-if="ctrl.music.isNonExplicit(ctrl.genreListIndex, $index, ctrl.lyricType)">
				</label>
				<input type="checkbox"
					   ng-model="song.selected"
					   ng-if="ctrl.music.isNonExplicit(ctrl.genreListIndex, $index, ctrl.lyricType)">

					   {{ ctrl.music.masterList[ctrl.genreListIndex].songs[$index] }}
			</div><br>

			<button ng-click="ctrl.createPlayList()">Submit</button>

			{{ ctrl.summary }}

			<hr>
			{{ ctrl.music.masterList }}<br>

		</div>
	</body>
</html>